<div id="add_channel_container">
    <form method="POST" action="/addchannel" enctype="application/x-www-form-urlencoded" id="addchannel_form" name="addchannel_form">
     <input type="text" name="add_channel_text" id="add_channel_text" class="textbox" placeholder="enter a search term" required/>
     <div id="add_channel_button" class="button opacity">+ add</div>
     </form>
 <div>