<div id="add_channel_container">
  <div id="add_channel">
    <div id="add_channel_form" >
      <form method="POST" action="/addchannel" enctype="application/x-www-form-urlencoded" id="addchannel_form" name="addchannel_form">
      <input type="text" name="add_channel_text" id="add_channel_text" class="textbox" />
      <span id="add_channel_button" class="button opacity">+ add</span>
      </form>
    </div>
  </div>
</div>