<div id="content">
  <div id="navigation">
    <div  class="logo nav_item opacity">
      <img src="images/logo_s.png" id="logo_button_nav" />
    </div>
    <div class="nav_item opacity">
      <img src="images/ch.png" id="channels_nav" />
    </div>
    <div class="nav_item opacity">
      <img src="images/plus.png" id="add_channel_nav" />
    </div>
    <div class="nav_item opacity">
      <img src="images/login.png" id="login_nav" />
    </div>
	</div>
  <div id="loading">
    <img src="images/loading.gif" id="loading" />
  </div>
  <div id="content_container"></div>
  <div id="message_container"></div>
  <div id="channel_container">
    <table class="channels" cellspacing="10">
        <tr>
            <td id="channel_0_video"></td>
            <td id="channel_1_video"></td>
            <td id="channel_2_video"></td>
            <td id="channel_3_video"></td>
        </tr>
        <tr>
            <td id="channel_4_video"></td>
            <td id="channel_5_video"></td>
            <td id="channel_6_video"></td>
            <td id="channel_7_video"></td>
        </tr>
        <tr>
            <td id="channel_8_video"></td>
            <td id="channel_9_video"></td>
            <td id="channel_10_video"></td>
            <td id="channel_11_video"></td>
        </tr>
    </table>
  </div>
  <div id="video_container">
   <iframe src="" id="video"  width="80%" height="80%" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>