<div id="login_container">
<form method="POST" action="/login" enctype="application/x-www-form-urlencoded" id="login_form" name="login_form">
    <input type="text" name="user[username]" id="user[username]" size="25" class="username textbox" placeholder="enter a username"  required/>
    <input type="password" name="user[password]" id="user[password]" size="25" class="password textbox" placeholder="enter a password" required/>
    <div id="login_button" class="button opacity">> login</div>
</form>
</div>