.slides {
	position:absolute;
	z-index:100;
}

.slides_container {
	width:200px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container .slide {
	width:200px;
	height:200px;
	display:block;
    cursor: pointer;
}

.caption {
	z-index:500;
	position:absolute;
	top:8px;
    margin:10px;
	padding:4px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:180px;
	font-size:0.8em;
	line-height:1.33;
	color:#fff;
}